ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

li {
    float: left;
}

li a {
      display: block;
      color: black;
      text-align: center;
      padding: 30px 25px;
      text-decoration: none;
}

li a:hover:not(.active) {
     /*background-color: #0085b9;*/
     background-color: #6DB6D6;
}

.active {
         background-color: #006992;
}

.right{
       float: right;
}

.center{
        text-align: center;
}

nav {
     box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
     position: fixed;
     top: 0px;
     width: 100%;
}

body{
    margin:0;
    font-family: Helvetica;
}

h1{
    color: #006992;
    padding-left: 50px;
}

h3{
    color: #6DB6D6;
    padding-left: 50px;
}

button{
    /*background-color: #6DB6D6;*/
    background-color: #006992;
    color: white;
    font-size: 14px;
    width: 190px;
    height: 60px;
    margin: 50px;
    text-align: center;
    border: none;
    cursor: pointer;
}

button:hover {
  /*background-color: #006992;*/

  background-color: #6DB6D6;

}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

/*FLASHED MESSAGE ERROR CODE*/
 #alert-error {
      padding: 12px;
      border-radius: 3px;
      font-size: 1.2rem;
      margin-bottom: 16px;
      background-color:rgba(250, 107, 107, 1);
      color: white;
    }