<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MMI Business Homepage </title>
    <link rel="stylesheet" href="../static/css/navigationbar.css">
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>

<style>


</style>

<body>
    <nav class="navbar navbar-inverse" style="z-index:2;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <img src=" ../static/images/mmi_logo.png" alt="Match My Interns" width="180" height="75">  </li>
                <li class="active"><a href="businessHome"> <span class = "fa fa-home"> </span> HOME </a> </li>
                <li><a href="businessRegistration"> <span class = "fas fa-edit"> </span> REGISTER </a></li>
                <li class="right"><a href="logout"> <i class="fas fa-sign-in-alt"> </i> LOG OUT</a></li>
            </ul>
        </div>
    </nav>
    <br> <br> <br>

    <div class="split left">
        <br> <br>
        <h1> FIND INTERNS PERFECT FOR YOUR <br> ORGANIZATION</h1>
        <h3> Post internships opportunities and find qualified UWI students </h3>
        <a href="businessRegistration"> <button type = "button"> Post an internship for free </button> </a>
    </div>

    <div class="split right">
        <!--<img src=" ../static/images/interview.png" alt="Match My Interns" width="80%" height="490"> -->
        <!--<img src = "../static/images/interview1.1.png" alt="Match My Interns" width="100%" height="670"> -->
        <img src ="../static/images/interview2.png" alt="Match My Interns" width="100%" height="665">
    </div>
</body>

</html>