<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MMI Business Homepage </title>
    <link rel="stylesheet" href="../static/css/navigationbar.css">
</head>

<style>


</style>

<body>
    <nav class="navbar navbar-inverse" style="z-index:2;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <img src=" ../static/images/mmi_logo.png" alt="Match My Interns" width="180" height="75">  </li>
                <li class="active"><a href="/">Home</a></li>
                <li><a href="covid_info"> Register </a></li>
                <li class="right"><a href="login"><i class="fas fa-sign-in-alt"></i> Login</a></li>
                <li class="right"><a href="signup"><span class="fas fa-user-alt"></span> Sign Up</a></li>
                <li class="right"><a href="#"><span class="fa fa-fw fa-search"></span> Search</a></li>
            </ul>
        </div>
    </nav>
</body>

</html>