<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MMI Business Homepage </title>
    <link rel="stylesheet" href="../static/css/navigationbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<style>


</style>

<body>
    <nav class="navbar navbar-inverse" style="z-index:2;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <img src=" ../static/images/mmi_logo.png" alt="Match My Interns" width="180" height="75">  </li>
                <li class="active"><a href="/"> <span class = "fa fa-home"> </span> HOME </a> </li>
                <li><a href="business_registration"> <span class = "fas fa-edit"> </span> REGISTER </a></li>
                <li class="right"><a href="signup"><span class="fas fa-user-alt"></span> GET STARTED </a></li>
                <li class="right"><a href="login"><i class="fas fa-sign-in-alt"></i> LOGIN</a></li>
                <li class="right"><a href="#"><span class="fa fa-fw fa-search"></span> SEARCH</a></li>
            </ul>
        </div>
    </nav>
    <br> <br> <br>

    <div class="split left">
        <br> <br>
        <h1> FIND INTERNS PERFECT FOR YOUR <br> ORGANIZATION</h1>
        <h3> Post internships opportunities and find qualified UWI students </h3>
        <button type = "button"> Post an internship for free </button>
    </div>

    <div class="split right">
        <!--<img src=" ../static/images/interview.png" alt="Match My Interns" width="80%" height="490"> -->
        <!--<img src = "../static/images/interview1.1.png" alt="Match My Interns" width="100%" height="670"> -->
        <img src ="../static/images/interview2.png" alt="Match My Interns" width="100%" height="665">
    </div>
</body>

</html>