<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MMI DCIT Intern List </title>
    <link rel="stylesheet" href="../static/css/navigationbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>

<style>
.student_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    float: left;
    width: 20%;
    padding: 15px;
    text-align: center;
    margin-left: 30px;
    }

    .student_card.hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    img {
      border-radius: 50%;
    }

     button{
        border-radius: 20px;
        height: 45px;
        width: 150px;

    }

    .intern_info{
        margin-bottom: 240px;
    }


</style>

<body>
    <nav class="navbar navbar-inverse" style="z-index:2;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <img src=" ../static/images/mmi_logo.png" alt="Match My Interns" width="180" height="75">  </li>
                <li class=""><a href="dcitHome"> <span class = "fa fa-home"> </span> HOME </a> </li>
                <li class=""><a href="deadlines"> <i class="fas fa-plus-circle"> </i> DEADLINES </a> </li>
                <li class=""><a href="dcitStudentProfiles"> <i class="fas fa-users"> </i> STUDENT PROFILES </a> </li>
                <li class=""><a href="dcitWeeklyReports"> <i class="fas fa-file-alt"> </i> WEEKLY REPORTS </a> </li>
                <li class=""><a href="dcitCompanyList"> <i class="fas fa-list-alt"> </i> COMPANY LIST </a> </li>
                <li class="active"><a href="dcit-shortlist"> <i class="fas fa-list-alt"> </i> SHORTLIST </a> </li>
                <li class="right"><a href="logout"> <i class="fas fa-sign-in-alt"> </i> LOG OUT</a></li>
            </ul>
        </div>
    </nav>
    <br> <br> <br>
    <br> <br> <br>

    <!--LIST OF SHORTLIST CODE STARTS HERE -->
    <table action="/dcit-shortlist" method='GET'>
            {% for business in businesses %}
                <div class="businessName">
                    <h1>{{business.bname}}</h1>

                <div class="intern_info">
                    {% for student in temps[business.businessID] %}
                        <div class="student_card">
                            <p> Intern Name : {{ student }}</p>
                            {% for intern in students_list %}
                                {% if intern.name == student %}
                                    <p> Student ID: {{ intern.uwiid }}</p>
                                    <p> Student GPA: {{ intern.gpa }}</p>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
                </div>

            {% endfor %}
    </table>
</body>

</html>
