<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MMI DCIT Homepage </title>
    <link rel="stylesheet" href="../static/css/navigationbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/card.css">
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
   <nav class="navbar navbar-inverse" style="z-index:2;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <img src=" ../static/images/mmi_logo.png" alt="Match My Interns" width="180" height="75">  </li>
                <li class="active"><a href="dcitHome"> <span class = "fa fa-home"> </span> HOME </a> </li>
                <li class=""><a href="deadlines"> <i class="fas fa-plus-circle"> </i> DEADLINES </a> </li>
                <li class=""><a href="dcitStudentProfiles"> <i class="fas fa-users"> </i> STUDENT PROFILES </a> </li>
                <li class=""><a href="dcitWeeklyReports"> <i class="fas fa-file-alt"> </i> WEEKLY REPORTS </a> </li>
                <li class=""><a href="dcitCompanyList"> <i class="fas fa-list-alt"> </i> COMPANY LIST </a> </li>
                <li class="right"><a href="logout"> <i class="fas fa-sign-in-alt"> </i> LOG OUT</a></li>
            </ul>
        </div>
    </nav>
   <br> <br> <br> <br>

   <h1> My Dashboard</h1>
   <br>
   <div class="row">
       <a href="deadlines">
            <div class="column">
               <div class="w3-container">
                  <div class="w3-card-4">
                    <!--<img src="../static/images/purple.png" alt="Alps" height="150" width="100%"> -->
                          <div style="background-color:  rgba(51, 105, 232, 0.1)"> <br>
                            <center><i class="fa fa-pencil-square-o fa-4x" style="color:#3369e8"> </i> </center>
                            <br>
                          </div>
                          <div class="w3-container w3-center">
                            <p>Post Deadlines</p>
                          </div>
                  </div>
               </div>
            </div>
       </a>

       <a href="dcitStudentProfiles">
              <div class="column">
                   <div class="w3-container">
                      <div class="w3-card-4" >
                        <!--<img src="../static/images/blue.jpg" alt="Alps" height="150" width="100%"> -->
                        <div style="background-color:  rgba(51, 105, 232, 0.1)"> <br>
                            <center><i class="fas fa-users fa-4x" style="color:#3369e8"> </i></center>
                            <br>
                        </div>
                        <div class="w3-container w3-center">
                          <p>View Student Profiles</p>
                        </div>
                      </div>
                   </div>
              </div>
       </a>


       <a href="">
            <div class="column">
               <div class="w3-container">
                    <div class="w3-card-4">
                        <!--<img src="../static/images/green.jpg" alt="Alps" height="150" width="100%"> -->
                        <div style="background-color:  rgba(51, 105, 232, 0.1)"> <br>
                            <center><i class="fas fa-search fa-4x" style="color:#3369e8"> </i></center>
                            <br>
                        </div>
                        <div class="w3-container w3-center">
                            <p>Search for Students</p>
                        </div>
                    </div>
                </div>
            </div>
       </a>


       <a href="dcitWeeklyReports">
             <div class="column">
                <div class="w3-container">
                  <div class="w3-card-4">
                    <!--<img src="../static/images/pink.jpg" alt="Alps" height="150" width="100%"> -->
                    <div style="background-color:  rgba(51, 105, 232, 0.1)"> <br>
                        <center><i class="fas fa-file-alt fa-4x" style="color:#3369e8"> </i></center>
                        <br>
                    </div>
                    <div class="w3-container w3-center">
                      <p>View Weekly Status Reports</p>
                    </div>
                  </div>
                </div>
             </div>
       </a>
   </div>

   <br> <br>

   <div class="row">

       <a href="dcitCompanyList">
             <div class="column">
                <div class="w3-container">
                  <div class="w3-card-4">
                    <!--<img src="../static/images/pink.jpg" alt="Alps" height="150" width="100%"> -->
                    <div style="background-color:  rgba(51, 105, 232, 0.1)"> <br>
                        <center><i class="fas fa-building fa-4x" style="color:#3369e8"> </i></center>
                        <br>
                    </div>
                    <div class="w3-container w3-center">
                        <p>View List of Companies</p>
                    </div>
                  </div>
                </div>
             </div>
       </a>

       <a href="">
             <div class="column">
                <div class="w3-container">
                  <div class="w3-card-4">
                    <!--<img src="../static/images/pink.jpg" alt="Alps" height="150" width="100%"> -->
                    <div style="background-color:  rgba(51, 105, 232, 0.1)"> <br>
                        <center><i class="fas fa-search fa-4x" style="color:#3369e8"> </i></center>
                        <br>
                    </div>
                    <div class="w3-container w3-center">
                        <p>Search Weekly Status Reports</p>
                    </div>
                  </div>
                </div>
             </div>
       </a>


       <a href="">
            <div class="column">
               <div class="w3-container">
                    <div class="w3-card-4">
                        <!--<img src="../static/images/pink.jpg" alt="Alps" height="150" width="100%">-->
                        <div style="background-color:  rgba(51, 105, 232, 0.1)"> <br>
                            <center><i class="fas fa-comments fa-4x" style="color:#3369e8"> </i></center>
                            <br>
                        </div>
                        <div class="w3-container w3-center">
                          <p>Contact Students</p>
                        </div>
                    </div>
               </div>
            </div>
       </a>

       <a href="dcit-shortlist">
           <div class="column">
                <div class="w3-container">
                     <div class="w3-card-4">
                         <!--<img src="../static/images/blue.jpg" alt="Alps" height="150" width="100%"> -->
                         <div style="background-color:  rgba(51, 105, 232, 0.1)"> <br>
                              <center><i class="far fa-list-alt fa-4x" style="color:#3369e8"> </i></center>
                              <br>
                         </div>
                         <div class="w3-container w3-center">
                            <p>Student Shortlist</p>
                         </div>
                     </div>
                </div>
           </div>
       </a>
   </div>


   <br>
</body>

</html></html>