<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MMI DCIT Student Profiles </title>
    <link rel="stylesheet" href="../static/css/navigationbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<style>

.student_card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    float: left;
    width: 20%;
    padding: 15px;
    text-align: center;
    margin-left:30px
}

.student_card.hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
  border-radius: 50%;
}

</style>

<body>
    <nav class="navbar navbar-inverse" style="z-index:2;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <img src=" ../static/images/mmi_logo.png" alt="Match My Interns" width="180" height="75">  </li>
                <li class=""><a href="dcitHome"> <span class = "fa fa-home"> </span> HOME </a> </li>
                <li class=""><a href="deadlines"> <i class="fas fa-plus-circle"> </i> DEADLINES </a> </li>
                <li class="active"><a href="dcitStudentProfiles"> <i class="fas fa-users"> </i> STUDENT PROFILES </a> </li>
                <li class=""><a href="dcitWeeklyReports"> <i class="fas fa-file-alt"> </i> WEEKLY REPORTS </a> </li>
                <li class=""><a href="dcitCompanyList"> <i class="fas fa-list-alt"> </i> COMPANY LIST </a> </li>
                <li class="right"><a href="logout"> <i class="fas fa-sign-in-alt"> </i> LOG OUT</a></li>
            </ul>
        </div>
    </nav>
    <br> <br> <br>
    <br> <br> <br>

    <!--LIST OF REGISTERED COMPANIES CODE STARTS HERE -->
    <table action="/dcitStudentProfiles" method='GET'>
        {% for student in student_list %}
        <div class="student_card">
        <img src="../static/images/student_pictures/{{student.photo}}" alt=student width="40%" height="130">
        <p>Student Name: {{student.name}}</p>
        <p> Student ID: {{student.uwiid}}</p>
        <p> Email: {{student.email}}</p>
        <p> Degree: {{student.curr_degree}}</p>
        <p> GPA: {{student.gpa}}</p>
        </div>
        {% endfor %}
    </table>


</body>

</html>