<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MMI DCIT Student Profiles </title>
    <link rel="stylesheet" href="../static/css/navigationbar.css">
    <link rel="stylesheet" href="../static/css/searchbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>

<style>

</style>

<body>
    <nav class="navbar navbar-inverse" style="z-index:2;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <img src=" ../static/images/mmi_logo.png" alt="Match My Interns" width="180" height="75">  </li>
                <li class=""><a href="dcitHome"> <span class = "fa fa-home"> </span> HOME </a> </li>
                <li class=""><a href="deadlines"> <i class="fas fa-plus-circle"> </i> DEADLINES </a> </li>
                <li class="active"><a href="dcitStudentProfiles"> <i class="fas fa-users"> </i> STUDENT PROFILES </a> </li>
                <li class=""><a href="dcitWeeklyReports"> <i class="fas fa-file-alt"> </i> WEEKLY REPORTS </a> </li>
                <li class=""><a href="dcitCompanyList"> <i class="fas fa-list-alt"> </i> COMPANY LIST </a> </li>
                <li class="right"><a href="logout"> <i class="fas fa-sign-in-alt"> </i> LOG OUT</a></li>
            </ul>
        </div>
    </nav>
    <br> <br> <br> <br>
    <br>
    <form class="search-wrapper cf" style="float:right" action="/dcitStudentProfiles1" method="POST">
        <input type="text" name="keyword" placeholder="Enter ID number here" required style="box-shadow: outline;">
        <button type="submit">Search</button>
    </form>

    <br> <br> <br>
    <br> <br>

    {% for message in get_flashed_messages() %}
        <div class="alert-error"> Error: {{ message }} </div>
    {% endfor %}

    <br>

    {{message }}

    <!--LIST OF REGISTERED COMPANIES CODE STARTS HERE -->
    <form action="/dcitStudentProfiles" method='POST'>
        {% for student in student_list %}
        <div class="student_card">
        <img src="../static/images/student_pictures/{{student.photo}}" alt=student width="130" height="130">
        <p>Student Name: {{student.name}}</p>
        <p> Student ID: {{student.uwiid}}</p>
        <p> Email: {{student.email}}</p>
        <p> Degree: {{student.curr_degree}}</p>
        <p> GPA: {{student.gpa}}</p>
        <button type="submit" id="v_profile" name="v_profile" value={{student.uwiid}}>View More Detail</button>
        </div>
        {% endfor %}
    </form>


</body>

</html>
