<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MMI DCIT Company List </title>
    <link rel="stylesheet" href="../static/css/navigationbar.css">
    <link rel="stylesheet" href="../static/css/card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<style>

      .container {
       position: relative;
       text-align: center;
       color: white;
    }

    .top-left {
      position: absolute;
      top: 75px;
      left: 185px;
      z-index: 1;
      font-size: 45px;
    }

      .student_card{
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      padding: 15px 15px;
      width: 20%;
      text-align: center;
      margin-left: 50px;
    }

    .student_card.hover{
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
</style>

<body>
    <nav class="navbar navbar-inverse" style="z-index:2;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <img src=" ../static/images/mmi_logo.png" alt="Match My Interns" width="180" height="75">  </li>
                <li class=""><a href="dcitHome"> <span class = "fa fa-home"> </span> HOME </a> </li>
                <li class=""><a href="deadlines"> <i class="fas fa-plus-circle"> </i> DEADLINES </a> </li>
                <li class=""><a href="dcitStudentProfiles"> <i class="fas fa-users"> </i> STUDENT PROFILES </a> </li>
                <li class=""><a href="dcitWeeklyReports"> <i class="fas fa-file-alt"> </i> WEEKLY REPORTS </a> </li>
                <li class="active"><a href="dcitCompanyList"> <i class="fas fa-list-alt"> </i> COMPANY LIST </a> </li>
                <li class="right"><a href="logout"> <i class="fas fa-sign-in-alt"> </i> LOG OUT</a></li>
            </ul>
        </div>
    </nav>
    <br> <br> <br>

    <div class="container">
        <img src="../static/images/banner.png" height="185" width="100%" style="position: relative; z-index:-1;">
        <div class="top-left"><b> List of Registered Companies </b></div>
    </div>

    <br> <br>
    <!--LIST OF REGISTERED COMPANIES CODE STARTS HERE -->
    <table action="/dcitCompanyList" method='GET'>
        {% for company in registered_companies %}
        <!--<div class="row">
            <div class="column"> -->
                <div class="student_card">
                    <h1>{{company.bname}}</h1>

                    <p> Amount of Interns Required: {{company.num_interns}}</p>

                    <p> Duration: {{company.duration}}</p>

                    <p> Credits: {{company.credits}}</p>

                    <p> Stipend: {{company.stipend}}</p>
                </div>
         <!--   </div>
        </div> -->
        {% endfor %}
    </table>

        <!--
         {% for company in registered_companies %}
            <div class="student_card">
                <h1>{{company.bname}}</h1>

                <p> Amount of Interns Required: {{company.num_interns}}</p>

                <p> Duration: {{company.duration}}</p>

                <p> Credits: {{company.credits}}</p>

                <p> Stipend: {{company.stipend}}</p>
            </div>
        {% endfor %} -->

</body>

</html>