<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MMI DCIT Company List </title>
    <link rel="stylesheet" href="../static/css/navigationbar.css">
    <link rel="stylesheet" href="../static/css/card.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>

<style>


</style>

<body>
    <nav class="navbar navbar-inverse" style="z-index:2;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <img src=" ../static/images/mmi_logo.png" alt="Match My Interns" width="180" height="75">  </li>
                <li class=""><a href="dcitHome"> <span class = "fa fa-home"> </span> HOME </a> </li>
                <li class=""><a href="deadlines"> <i class="fas fa-plus-circle"> </i> DEADLINES </a> </li>
                <li class=""><a href="dcitStudentProfiles"> <i class="fas fa-users"> </i> STUDENT PROFILES </a> </li>
                <li class=""><a href="dcitWeeklyReports"> <i class="fas fa-file-alt"> </i> WEEKLY REPORTS </a> </li>
                <li class="active"><a href="dcitCompanyList"> <i class="fas fa-list-alt"> </i> COMPANY LIST </a> </li>
                <li class="right"><a href="logout"> <i class="fas fa-sign-in-alt"> </i> LOG OUT</a></li>
            </ul>
        </div>
    </nav>
    <br> <br> <br>

    <div class="comp_container">
        <img src="../static/images/banner.png" height="185" width="100%" style="position: relative; z-index:-1;">
        <div class="comp_top-left"><b> List of Registered Companies </b></div>
    </div>

    <br> <br>
    <!--LIST OF REGISTERED COMPANIES CODE STARTS HERE -->
    <table action="/dcitCompanyList" method='GET'>
        {% for company in registered_companies %}
        <!--<div class="row">
            <div class="column"> -->
                <div class="comp_card">
                    <h2>{{company.bname}}</h2>

                    <p> Amount of Interns Required: {{company.num_interns}}</p>

                    <p> Duration: {{company.duration}}</p>

                    <p> Credits: {{company.credits}}</p>

                    <p> Stipend: {{company.stipend}}</p>
                </div>

                <br> <br>
         <!--   </div>
        </div> -->
        {% endfor %}
    </table>

        <!--
         {% for company in registered_companies %}
            <div class="student_card">
                <h1>{{company.bname}}</h1>

                <p> Amount of Interns Required: {{company.num_interns}}</p>

                <p> Duration: {{company.duration}}</p>

                <p> Credits: {{company.credits}}</p>

                <p> Stipend: {{company.stipend}}</p>
            </div>
        {% endfor %} -->

</body>

</html>