<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MMI Landing Page </title>
    <link rel="stylesheet" href="../static/css/navigationbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<style>


</style>

<body>
    <nav class="navbar navbar-inverse" style="z-index:2;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <img src=" ../static/images/mmi_logo.png" alt="Match My Interns" width="180" height="75">  </li>
                <li class="right"><a href="signup.html"><span class="fas fa-user-alt"></span> GET STARTED </a></li>
                <li class="right"><a href="login.html"><i class="fas fa-sign-in-alt"></i> LOGIN</a></li>
            </ul>
        </div>
    </nav>
    <br> <br> <br>
    <br> <br>

    <div>
        <h1> FIND THE RIGHT INTERNSHIP FOR YOU!</h1>
        <h3> Match my interns aims to provide an <br> all in one platform to create, manage and apply for internships. </h3>
        <button type = "button" Sign up today!> </button>
    </div>

    <div>
    <img src=" ../static/images/landing_page.jpg" alt="Match My Interns" width="100%" height="50%">
    </div>

</body>

</html>