<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Match My Interns Login</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'><link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/fontawesome.min.css"/>
</head>
<body>
<!-- partial:index.partial.html -->
<br> <br>
<br> <br>
<div class="cont">
  <br>
  <img src="../static/images/mmi_logo.png" alt="Match My Interns" width="210" height="90">
  <div class="form sign-in">
    <h2 style="color: #006992;">Welcome back,</h2>
    <br>
    <h4> Login to manage your account</h4>
    <label>
      <!--<span>Email</span>-->
      <input type="email" placeholder ="Enter your email address"/>
      <!--<input type="email" placeholder ="Enter your email address"/>-->
   </label>
    <label>
      <!--<span>Password</span>-->
      <input type="password" placeholder="Enter your password" />
    </label>
    <button type="button" class="submit">Sign In</button>
    <p class="forgot-pass">Forgot your password? <b style="color: #006992;"> Reset </b> </p>

  </div>
  <div class="sub-cont">
    <div class="img">

      <div class="img__text m--up">
        <h3>New here?</h3>
        <p>Sign up and discover a great amount of new internship opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h3>One of us?</h3>
        <p>If you already have an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <img src="../static/images/mmi_logo.png" alt="Match My Interns" width="210" height="90" style="float: right;">
    <br> <br>
    <br> <br>
    <div class="form sign-up" style="padding-right: 100px;">
      <h2 style="color: #006992; padding-left: 105px;">Create your Account</h2>
      <br>
      <label>
        <!--<span>Name</span>-->
        <input type="text" placeholder="Enter your name"/>
      </label>
      <label>
        <!--<span>Email</span>-->
        <input type="email" placeholder="Enter your email"/>
      </label>
      <label>
        <!--<span>Occupation</span>-->
        <input type="text" placeholder="Enter your occupation"/>
      </label>
      <label>
        <!--<span>Password</span>-->
        <input type="password" placeholder="Enter your password"/>
      </label>
      <label>
        <!--<span>Password</span>-->
        <input type="password" placeholder="Confirm your password"/>
      </label>
      <button type="button" class="submit">Sign Up</button>
    </div>
  </div>
</div>

<!-- partial -->
  <script  src="../static/js/script.js"></script>

</body>
</html>
