<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Sign Up </title>
    <link rel="stylesheet" href="../static/css/navigationbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/fontawesome.min.css"/>
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>

<style>

</style>

<body>
    <nav class="navbar navbar-inverse" style="z-index:2;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <img src=" ../static/images/mmi_logo.png" alt="Match My Interns" width="180" height="75">  </li>

                <li class="right"><a href="signup"><span class="fas fa-user-alt"></span> GET STARTED </a></li>
                <li class="right"><a href="login"><i class="fas fa-sign-in-alt"></i> LOGIN</a></li>
            </ul>
        </div>
    </nav>
    <br> <br> <br>
    <br> <br>

    {% for message in get_flashed_messages() %}
        <div class="alert-error"> Error: {{ message }} </div>
    {% endfor %}

    <br> <br>

    <div class="cont">
    <div class="form">
        <form action="/signup" method='POST'>
            <br>
            <img src="../static/images/mmi_logo.png" alt="Match My Interns" width="210" height="90">
            <h2 style="color: #006992;">Create your Account</h2>
            <br>
            <h4> Join us today!</h4>

            <div class = "shift-left">
            <label>
                <input type="text" id="name" name="name"   placeholder="Enter your name"/>
            </label>
            </div>

            <div class = "shift-left">
                <label>
                <div data-validate = "Valid email is required: ex@abc.xyz">
                    <input type="text"  name="email" id="email" placeholder="Enter your email"/>
                </div>
            </label>
            </div>

            <div class = "shift-left">
                 <label>
                    <div>
                        <input type="text" class="input100"  name="occupation" id="occupation" placeholder="Enter your occupation"/>
                    </div>
                </label>
            </div>

            <div class = "shift-left">
            <label>
                <div>
                    <input type="password"  name="passw" id="password" placeholder="Enter your password"/>
                </div>
            </label>
            </div>

            <div class = "shift-left">
            <label>
                <div>
                    <input type="password" placeholder="Confirm your password"/>
                </div>
            </label>
            </div>

            <div class = "shift-left">
            <button type="submit" class="submit">Sign Up</button>
            </div>

        </form>
    </div>
    </div>
</body>

</html>
