<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Match My Interns Login</title>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'><link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/fontawesome.min.css"/>
</head>
<body>
<!-- partial:index.partial.html -->
<br> <br>
<br> <br>
<div class="cont">
  <br>
  <img src="../static/images/mmi_logo.png" alt="Match My Interns" width="210" height="90">
  <div class="form sign-in">
    <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                <form class="login100-form validate-form" action="/login" method="POST">
                  <h2 style="color: #006992;">Welcome back!</h2>
                   <br>
                   <h4> Login to manage your account</h4>
                   <label>
                  <!--<span>Email</span>-->
                 <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
                  <input type="email" name="email" placeholder ="Enter your email address"/> </div>
                   <!--<input type="email" placeholder ="Enter your email address"/>-->
                  </label>
                 <label>
                 <!--<span>Password</span>-->
                <div class="wrap-input100 validate-input" data-validate = "Password is required">
                <input type="password" name="pass" placeholder="Enter your password" /> </div>
               </label>
              <button type="button" class="submit">Sign In</button>
              <p class="forgot-pass">Forgot your password? <b style="color: #006992;"> Reset </b> </p>
                  </form>
            </div>
        </div>
    </div>

  </div>
  <div class="sub-cont">
    <div class="img">

      <div class="img__text m--up">
        <h3>New here?</h3>
        <p>Sign up and discover a great amount of new internship opportunities!</p>
      </div>
      <div class="img__text m--in">
        <h3>One of us?</h3>
        <p>If you already have an account, just sign in. We've missed you!</p>
      </div>
      <div class="img__btn">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </div>
    </div>
    <img src="../static/images/mmi_logo.png" alt="Match My Interns" width="210" height="90" style="float: right;">
    <br> <br>
    <br> <br>
    <div class= "style=padding-right: 100px;">
     <div class="limiter">
      <div class="container-login100">
        <div class="wrap-login100">
        <form class="login100-form validate-form" action="/signup-login.html" method='POST'>
            <span class="login100-form-title">
					<h2 style="color: #006992; padding-left: 105px;">Create your Account</h2>
					</span>
                     <br>

        <!--<span>Name</span>-->
            <div class="wrap-input100 validate-input" >
                <label>
            <input type="text" id="name" name="name"   placeholder="Enter your name"/>
                <span class="focus-input100"></span>
       </label>
        </div>
        <label>
        <!--<span>Email</span>-->
        <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
          <input type="text" id="email" name="email" placeholder="Enter your email"/>
            <span class="focus-input100"></span>
            </div>
        </label>
       <label>
        <!--<span>Occupation</span>-->
           <div class="wrap-input100 validate-input" >
        <input type="text" class="input100" id="occupation" name="occupation" placeholder="Enter your occupation"/>
               <span class="focus-input100"></span>
           </div>
      </label>
      <label>
        <!--<span>Password</span>-->
        <div class="wrap-input100 validate-input" >
          <input class="input100"  type="password" id="password" name="pass" placeholder="Enter your password"/>
        <span class="focus-input100"></span>
        </div>
      </label>
      <label>
        <!--<span>Password</span>-->
           <div class="wrap-input100 validate-input" >
        <input type="password" placeholder="Confirm your password"/>
               <span class="focus-input100"></span> </div>
      </label>

            <div class="container-login100-form-btn">
                <button>
      <input class="submit" value="submit" type=submit name ="submit_id" id="btn_id" onclick="submitter" />Sign Up</button>
            </div>
    </form>
  </div>
</div>
     </div>
    </div>
  </div>
</div>



<!-- partial -->
  <script  src="../static/js/script.js"></script>

</body>
</html>
