<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MMI Student Registration </title>
    <link rel="stylesheet" href="../static/css/navigationbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript"> (function() { var css = document.createElement('link'); css.href = 'https://use.fontawesome.com/releases/v5.1.0/css/all.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })(); </script>
</head>

<style>


</style>

<body>
    <nav class="navbar navbar-inverse" style="z-index:2;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <img src=" ../static/images/mmi_logo.png" alt="Match My Interns" width="180" height="75">  </li>
                <li><a href="studentHome"> <span class = "fa fa-home"> </span> HOME </a> </li>
                <li class="active"><a href="studentRegistration"> <span class = "fas fa-edit"> </span> REGISTER </a></li>
                <li><a href="studentWeeklyReport"> <span class = "fas fa-file-alt"> </span> WEEKLY REPORTS </a></li>
                <li><a href="studentDeadlines">  VIEW DEADLINES </a></li>
                <li><a href="studentContact"> <span class = "fas fa-phone-alt"> </span> CONTACT </a></li>
                <li class="right"><a href="logout"> <i class="fas fa-sign-in-alt"> </i> LOG OUT</a></li>
            </ul>
        </div>
    </nav>
    <br> <br> <br>
    <br> <br>

    <div id="student-reg">
    <!--<iframe width="100%" height="900px" frameborder="0" src="student-registration-form.html"></iframe> -->

    <iframe width="100%" height="900px" frameborder="0" src="displayStudentForm"></iframe>
    </div>


</body>

</html>