<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MMI Student Deadlines </title>
    <link rel="stylesheet" href="../static/css/navigationbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>

    <nav class="navbar navbar-inverse" style="z-index:2;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <img src=" ../static/images/mmi_logo.png" alt="Match My Interns" width="180" height="75">  </li>
                <li class="active"><a href="studentHome"> <span class = "fa fa-home"> </span> HOME </a> </li>
                <li><a href="studentRegistration"> <span class = "fas fa-edit"> </span> REGISTER </a></li>
                <li><a href="studentWeeklyReport"> <span class = "fas fa-file-alt"> </span> WEEKLY REPORTS </a></li>
                <li><a href="studentInternship"> <span class = "fas fa-briefcase"> </span> VIEW ASSIGNED INTERNSHIPS </a></li>
                <li><a href="studentDeadlines">  VIEW DEADLINES </a></li>
                <li><a href="studentContact"> <span class = "fas fa-phone-alt"> </span> CONTACT </a></li>
                <li class="right"><a href="logout"> <i class="fas fa-sign-in-alt"> </i> LOG OUT</a></li>
            </ul>
        </div>
    </nav>

    <br> <br> <br>
    <br> <br> <br>

    {% for deadline in deadlines %}
        <div class="deadline_card">
            <h2>{{deadline.deadline_message}}</h2>

            {% for admins in admin_list %}
                {% if admins.adminID == deadline.deadline_adminID %}
                    <p> Posted on {{deadline.date}} by {{admins.aname}} </p>
                {% endif %}
            {% endfor %}

        </div>
    {% endfor %}
</body>
</html>
